[Unit]
Description=Python Demo Service


[Service]
ExecStart=/usr/bin/python3 /home/r3curz3/Work/AIL/mongoBackup/mongodb_backup_python/initBackup.py
Environment=PYTHONUNBUFFERED=1
